<style>

/* The Modal (background) */
.att_modal-webcam-background {
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top, in particular of DropzoneJS's thumbnail */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

.att_modal-webcam-buttons {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.att_modal-webcam-media {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.att_webcam-plugin {
  display: inline-block;
}

.att_modal-webcam-section {
  margin: 20px 0 20px 0;
}

</style>

<!-- The Modal -->
<div ng-show="visible && !disabled" class="att_modal-webcam-background" att-escape-key-down="close()">

  <div class="att_modal-webcam-content">
    
    <div class="att_modal-webcam-section">
      <div class="att_modal-webcam-media">
        <div class="att_webcam-plugin" ng-hide="dataUri" id="att_webcam-id"></div>
        <img ng-show="dataUri" ng-src="{{dataUri}}" width="{{imgWidth}}" height="{{imgHeight}}"></img>
      </div>
    </div>
    
    <div class="att_modal-webcam-section">
      <div class="att_modal-webcam-buttons">
        <a ng-hide="dataUri" class="button confirm" ng-click="snap()"><i class="icon-camera"></i></a>
        <a ng-show="dataUri" class="button" ng-click="repeat()"><i class="icon-repeat"></i></a>
        <a ng-show="dataUri" class="button confirm" ng-click="finalise()"><i class="icon-ok"></i></a>
        <a class="button" ng-click="close()"><i class="icon-remove"></i></a>
      </div>
    </div>

  </div>

</div>