<style>

  .att_header {
    position: relative;
    height: 20px;
  }

  .att_thumbnail-container {
    float: left;

    width: 130px;
    margin: 2% 2% 30px 2%;

    height: 160px; /* Controls the height of the whole thumbnail */
  }

  .att_date-time {
    font-size: 65%;
    font-weight: bold;
    color: #888;
  }

  .att_thumbnail-caption-section p {
    font-size: 90%;
  } 

  .att_editable p:hover {
    max-width: 130px;
    background-color: #F5F5F5;
    color: #F26522;
    font-weight: bold;
    
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 3px;
    cursor: pointer;
  }

  .att_thumbnail-image-section {
    position: relative;
    height: 110px; /* Controls the height of the image */
  }

  .att_thumbnail-frame {
    position: relative;
    height: 110px; /* Controls the height */

    border: 3px solid #F4F4F4;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
  }

  .att_thumbnail-frame i {
    position: absolute;
    top: -2px;
    left: -2px;
    font-size: 5em !important; /* because of the CF dashboard */
  }

  .att_thumbnail-frame span {
    position: absolute;
    bottom: 10%;
    left: 10%;

    font-size: smaller;
  }

  .att_thumbnail-container img {
    max-width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    max-height: 110px; /* Controls the height of the image */
  }

  .att_thumbnail-container img:hover {
    cursor: pointer;
  }

  .att_thumbnail-caption-section {
    margin-top: 20px;
    position: relative;
  }

  .att_thumbnail-caption-section input  {
    position: relative;
    max-width: 130px;
    font-size: 90%;
  }

  .att_file-name {
    overflow: hidden;
    color: lightgrey;
    font-size: 0.7em !important;
  }

  .att_icon-trash {
    position: absolute;
    left: 0;
    top: 0;

    font-size: 250%
  }

  .att_thumbnail-edit-mode .att_opacity-changeable {
    -moz-opacity: 0.15;
    opacity:.15;
    filter: alpha(opacity=15);
  }

  .att_thumbnail-edit-mode img:hover {
    cursor: auto;
  }

  .att_click-pointer {
    cursor: pointer;
  }

  .att_thumbnail-extension {
    font-weight: bold;
    font-family: OpenSansBold;
    text-align: -webkit-center;
    width: 45%;
  }

</style>

<att-modal-image config="imageConfig"></att-modal-image>

<div ng-if="active" class="att_thumbnail-container" ng-class="getEditModeCss()" ng-init="init()">
  <div class="att_header">
    <p class="att_date-time left">
      <time datetime="{{obs.obsDatetime}}">{{getPrettyDate()}}</time>
    </p>
  </div>

  <div class="att_thumbnail-image-section att_click-pointer" ng-click="!editMode && displayContent()">
    <div class="att_opacity-changeable att_thumbnail-frame">
      <i ng-hide="::obs.contentFamily" class="icon-file"></i>
      <div ng-show="::obs.contentFamily">
        <div ng-if="obs.contentFamily == 'IMAGE'">
          <img img-fix-orientation="imageUrl" ng-src="{{imageUrl}}"></img>
        </div>
        <div ng-if="obs.contentFamily != 'IMAGE'" ng-bind-html="::iconHtml"></div>
      </div>
    </div>
    <i ng-show="editMode" class="icon-trash att_icon-trash att_click-pointer" ng-click="confirmDelete()"></i>
  </div>

  <div class="att_thumbnail-caption-section" ng-class="canEdit() ? 'att_editable' : ''">
    <div ng-hide="editMode" ng-click="toggleEditMode(true)">
      <!-- <i ng-hide="obs.comment" class="icon-tag att_click-pointer att_side"></i> -->
      <div ng-hide="obs.comment" class="att_file-name">
        <p>{{obs.fileName}}</p>
      </div>
      <p ng-show="obs.comment">{{obs.comment}}</p>
    </div>
    <div ng-show="editMode" att-escape-key-down="toggleEditMode(false)">
      <input ng-model="typedText.newCaption" class="left" type="text" placeholder="{{msgs['coreapps.attachments.misc.label.enterCaption']}}" att-enter-key-down="saveCaption()"/>
      <span class="right">
        <i class="icon-ok att_click-pointer" ng-click="saveCaption()"></i>
        <i class="icon-remove att_click-pointer" ng-click="toggleEditMode(false)"></i>
      </span>
    </div>
    <i ng-show="loading" class="icon-spinner icon-spin" style="margin-left: 10px;"></i>
  </div>
</div>