*.class
*.iml
*.idea
.settings
.project
.classpath
*.sass-cache
target

.DS_Store

.vscode

# Package Files #
*.jar
*.war
*.ear

*.css

omod/node
omod/node_modules

# JS
node
node_modules
npm-debug.log
/bin/
