*.class
*.iml
*.idea
.settings
.project
.classpath
*.sass-cache
target

.DS_Store

.vscode

# Package Files #
*.jar
*.war
*.ear

omod/src/main/webapp/resources/styles/**/*.css
omod/src/main/webapp/resources/styles/**/*.css.map
omod/src/main/webapp/resources/styles/lib

omod/node
omod/node_modules

# JS
node
node_modules
npm-debug.log
/bin/
