@import "variables";

#patient-search-form {
  input {
    display: inline;
  }
}

#patient-search-results {
  margin-top: 1em;

  .patient-search-result {
    padding: 10px 5px;
    cursor: pointer;

    &:nth-child(odd) {
      background-color: $bodyBackground;
    }

    .patient-identifier {
      display: inline-block;
      .identifier-type {
        display: block;
        font-size: 0.6em;
        text-decoration: underline;
      }
      .identifier {
        display: block;
      }
    }

    .preferred-name {
      display: inline-block;
      font-size: 1.5em;
      padding: 5px;
      width: 50%;
    }

    .age, .gender {
      font-size: 1.2em;
    }

    a {
      float: right;
    }
  }
}