
.inpatient-current-location-filter {
  display: inline-block;
  float: right;
  margin-top: 5px;
  margin-bottom: 5px;
}

.inpatient-admitTo-location-filter {
  display: inline-block;
  float: right;
  margin-top: 5px;
  margin-bottom: 5px;
}

#content h2 {
  display: inline-block;
  float: left;
  margin-bottom: 0;
}

i.admitIcon {
  text-decoration: none;
}

#active-visits_wrapper {
  min-height: 0;

  .dataTables_filter {
    float: right;
    width: 26%;
  }
}