<!-- TODO: move css to separate file? -->

<style>

    li div {
        display: inline-block;
    }

    fieldset, p  {
        padding-top: 3px;
        padding-bottom: 3px;
    }

    .input-group-addon {
        display: inline-block;;
    }

    .hidden {
        visibility: hidden;
    }

    input {
        width: 80%;
    }

    .center {
        margin-left: 0px;
        margin-right: 0px;
        text-align: center;
    }

    .eighty-percent-font {
        font-size: 0.8em
    }

    .sixty-percent-font {
        font-size: 0.6em
    }

</style>

<div>
    <div ng-show="$ctrl.canEnrollInProgram && !$ctrl.patientProgram">
        <fieldset>
            <h3>{{'coreapps.dashboardwidgets.programstatus.enrollmentdate' | translate }}</h3>
			<p>
                <openmrs-datepicker ng-model="$ctrl.input.dateEnrolled" format="{{$ctrl.dateFormat}}" end-date="$ctrl.today"/>
            </p>
        </fieldset>
        <fieldset>
            <h3>{{'coreapps.dashboardwidgets.programstatus.enrollmentlocation' | translate }}</h3>
            <p>
                <select ng-model="$ctrl.input.enrollmentLocation"
                        ng-options="location.uuid as location.display for location in $ctrl.programLocations">
                </select>
            </p>
        </fieldset>
        <div ng-repeat="workflow in $ctrl.program.allWorkflows track by $index" ng-show="$ctrl.program.allWorkflows.length != 0">
            <fieldset>
                <h3>{{ workflow.concept.display }}</h3>
                <p>
                    <select ng-model="$ctrl.input.initialWorkflowStateByWorkflow[workflow.uuid].state"
                            ng-options="state.uuid as state.concept.display for state in $ctrl.statesByWorkflow[workflow.uuid] | filter: $ctrl.isNotCurrentState(workflow) ">
                        <option value=""></option>
                    </select>
                </p>
            </fieldset>
        </div>
        <div class="center">
            <button class="confirm" ng-disabled="!$ctrl.enrollmentValid()" ng-click="$ctrl.enrollInProgram()">{{'coreapps.enroll' | translate }}</button>
        </div>
    </div>

    <div ng-show="$ctrl.patientProgram">

        <!-- VIEW sections -->

        <fieldset ng-show="!$ctrl.edit.enrollment">
            <i ng-show="$ctrl.canDeleteProgram && !$ctrl.edit.enrollment && !$ctrl.confirmDelete && !$ctrl.editingAnyWorkflow()" ng-click="$ctrl.deletePatientProgram()" class="icon-remove right"/>
            <i ng-show="$ctrl.canEditProgram && !$ctrl.edit.enrollment && !$ctrl.confirmDelete && !$ctrl.editingAnyWorkflow()" ng-click="$ctrl.toggleEditEnrollment()" class="icon-pencil right"/>
            <h3>{{'coreapps.dashboardwidgets.programstatus.enrolled' | translate }}</h3>
            <p>{{ $ctrl.patientProgram.dateEnrolled | date:$ctrl.dateFormat }}</p>
        </fieldset>

        <fieldset ng-show="!$ctrl.edit.enrollment">
            <h3>{{'coreapps.location' | translate }}</h3>
            <p>{{ $ctrl.patientProgram.location.display }}</p>
        </fieldset>

        <fieldset ng-show="!$ctrl.edit.enrollment && $ctrl.patientProgram.dateCompleted">
            <h3>{{'coreapps.dashboardwidgets.programstatus.completed' | translate }}</h3>
            <p>{{ $ctrl.patientProgram.dateCompleted | date:$ctrl.dateFormat }}</p>
        </fieldset>

        <fieldset ng-show="$ctrl.programOutcomes && !$ctrl.edit.enrollment && $ctrl.patientProgram.dateCompleted">
            <h3>{{'coreapps.dashboardwidgets.programstatus.outcome' | translate }}</h3>
            <p>{{ $ctrl.patientProgram.outcome.display }}</p>
        </fieldset>

        <!-- EDIT sections -->
        <fieldset ng-show="$ctrl.edit.enrollment">
            <h3>{{'coreapps.dashboardwidgets.programstatus.enrolled' | translate }}</h3>
            <p>
                <openmrs-datepicker ng-model="$ctrl.input.dateEnrolled" format="{{$ctrl.dateFormat}}" end-date="$ctrl.today" language="{{$ctrl.language}}"/>
            </p>
        </fieldset>

        <fieldset ng-show="$ctrl.edit.enrollment">
            <h3>{{'coreapps.location' | translate }}</h3>
            <p>
                <select ng-model="$ctrl.input.enrollmentLocation"
                    ng-options="location.uuid as location.display for location in $ctrl.programLocations">
                </select>
            </p>
        </fieldset>

        <fieldset ng-show="$ctrl.edit.enrollment">
            <h3>{{'coreapps.dashboardwidgets.programstatus.completed' | translate }}:</h3>
            <p>
                <openmrs-datepicker ng-model="$ctrl.input.dateCompleted"
                                format="{{$ctrl.dateFormat}}"
                                start-date="$ctrl.patientStateHistory.length > 0 ? $ctrl.patientStateHistory[0].startDate : $ctrl.input.dateEnrolled"
                                end-date="$ctrl.today"
                                clear-btn="true"
                                language="{{$ctrl.language}}"/>
            </p>
        </fieldset>

        <fieldset ng-show="$ctrl.programOutcomes && $ctrl.edit.enrollment">
            <h3>{{'coreapps.dashboardwidgets.programstatus.outcome' | translate }}:</h3>
            <p>
                <select ng-model="$ctrl.input.outcome"
                    ng-options="outcome.uuid as outcome.display for outcome in $ctrl.programOutcomes">
                    <option value=""></option>
                </select>
            </p>
        </fieldset>

        <!-- workflow sections -->

        <div ng-repeat="workflow in $ctrl.program.allWorkflows track by $index" ng-show="$ctrl.program.allWorkflows.length != 0">

            <fieldset ng-repeat="workflow in $ctrl.program.allWorkflows track by $index" ng-show="$ctrl.program.allWorkflows.length != 0">
                <i class="icon-remove right hidden"/> <!-- always hidden, added for alignment purposes -->
                <i ng-show="$ctrl.canEditProgram && !$ctrl.edit.workflow[workflow.uuid]  && !$ctrl.edit.enrollment && !$ctrl.confirmDelete && !$ctrl.isToday($ctrl.mostRecentStateByWorkflow[workflow.uuid].startDate)" ng-click="$ctrl.toggleEditWorkflow(workflow.uuid)" class="icon-pencil right"/>
                <h3>{{ workflow.concept.display }}</h3>
                <p>{{ $ctrl.mostRecentStateByWorkflow[workflow.uuid].state.concept.display }}</p>
            </fieldset>


            <fieldset ng-show="$ctrl.edit.workflow[workflow.uuid]">
                <h3>{{'coreapps.dashboardwidgets.programstatus.transitionTo' | translate }}</h3>
                <p>
                    <select ng-model="$ctrl.input.changeToStateByWorkflow[workflow.uuid].state"
                            ng-options="state.uuid as state.concept.display for state in $ctrl.statesByWorkflow[workflow.uuid] | filter: $ctrl.isNotCurrentState(workflow) ">
                         <option value=""></option>
                    </select>
                </p>
            </fieldset>

            <fieldset ng-show="$ctrl.edit.workflow[workflow.uuid]">
                <h3>{{'coreapps.on' | translate }}</h3>
                <p>
                    <openmrs-datepicker ng-model="$ctrl.input.changeToStateByWorkflow[workflow.uuid].date"
                                        format="{{$ctrl.dateFormat}}"
                                        start-date="$ctrl.mostRecentStateByWorkflow[workflow.uuid] ? $ctrl.mostRecentStateByWorkflow[workflow.uuid].dayAfterStartDate : $ctrl.input.dateEnrolled"
                                        end-date="$ctrl.patientProgram && $ctrl.patientProgram.dateCompleted ? $ctrl.patientProgram.dateCompleted : $ctrl.today"
                                        language="{{$ctrl.language}}"/>
                </p>
            </fieldset>

            <div ng-show="$ctrl.edit.workflow[workflow.uuid]" class="center">
                <button class="confirm" ng-disabled="!$ctrl.workflowTransitionValid(workflow.uuid)" ng-click="$ctrl.updatePatientState(workflow.uuid)">{{'coreapps.save' | translate }}</button>  <button class="cancel" ng-click="$ctrl.toggleEditWorkflow(workflow.uuid)">{{'coreapps.cancel' | translate }}</button>
            </div>

        </div>

        <!-- EDIT enrollment confirmation section -->
        <div ng-show="$ctrl.edit.enrollment" class="center">
            <button class="confirm" ng-disabled="!$ctrl.enrollmentValid()" ng-click="$ctrl.update()">{{'coreapps.save' | translate }}</button>  <button class="cancel" ng-click="$ctrl.cancelEdit()">{{'coreapps.cancel' | translate }}</button>
        </div>

        <!-- DELETE confirmation section -->

        <div ng-show="$ctrl.confirmDelete" class="center">
            {{'coreapps.dashboardwidgets.programstatus.confirmDelete' | translate }}
            <br/><br/>
            <button class="confirm" ng-click="$ctrl.deletePatientProgram()">{{'coreapps.delete' | translate }}</button>  <button class="cancel" ng-click="$ctrl.cancelDelete()">{{'coreapps.cancel' | translate }}</button>
        </div>
    </div>

    <!-- Table that shows history of program enrollment -->

    <div ng-show="$ctrl.hasHistory()">
        <span class="eighty-percent-font">
            <b>{{'coreapps.dashboardwidgets.programstatus.history' | translate }}:</b>
        </span>

        <table class="sixty-percent-font">
            <tr>
                <th>{{'coreapps.date' | translate }}</th>
                <th ng-repeat="workflow in $ctrl.program.allWorkflows">
                    {{ workflow.concept.display }}
                </th>
                <th>&nbsp;</th>
            </tr>
            <tr ng-repeat="row in $ctrl.patientStateHistory">
                <td>{{ row.startDate | date:$ctrl.dateFormat }} </td>
                    <td ng-repeat="workflow in $ctrl.program.allWorkflows">
                        {{ row.patientStatesByWorkflow[workflow.uuid].state.concept.display }}
                    </td>
                <td>
                    <i ng-show="$first && $ctrl.canEditProgram  && !$ctrl.edit.enrollment && !$ctrl.confirmDelete && !$ctrl.editingAnyWorkflow()" class="icon-remove right" ng-click="$ctrl.deleteMostRecentPatientStates()"/>
                </td>
            </tr>
        </table>
    </div>

</div>