<style>
    .container div {
        border: 1px solid #DDD;
    }
    .container .row:nth-child(odd) {
        background: #fffdf7
    }
    .container .row:nth-child(even) {
        background: white
    }
    .row div {
        overflow: hidden;
    }
    .column-header {
        text-align: center;
        font-size: small;
        word-wrap: break-word;
        background-color: #f3f3f3;
    }

</style>

<div class="container" ng-if="$ctrl.simpleEncs.length != 0">

    <div class="row" ng-if="$ctrl.headers.length != 0">
        <div class="col-sm column-header" ng-repeat="column in $ctrl.headers track by $index" >{{ column | translate }}</div>
    </div>
    <div class="row" ng-if="$ctrl.headers.length == 0">
        <div class="col-sm column-header">Encounter</div>
        <div class="col-sm column-header" ng-repeat="(key,value) in $ctrl.conceptsMap" >{{ value.display }}</div>
    </div>
    <div class="row" ng-repeat="encounter in $ctrl.simpleEncs| orderBy: '-encounterDatetime'">
        <div class="col-sm">{{encounter.encounterDatetime | date: $ctrl.config.dateFormat}}</div>
        <div class="col-sm" ng-repeat="(key,value) in $ctrl.conceptsMap">
            {{ encounter.obs[key] ? $ctrl.displayObs(encounter.obs[key]) : '' }}
        </div>
    </div>
</div>

<p ng-if="$ctrl.simpleEncs.length == 0">None</p>
