<style>
    #obsTable {
        table-layout: auto;
    }

    .column-header {
        text-align: center;
        font-size: small;
        word-wrap: break-word;
    }
    
</style>

<table id="obsTable" ng-if="$ctrl.simpleEncs.length != 0">
    <thead>
        <tr ng-if="$ctrl.headers.length != 0">
            <th ng-repeat="column in $ctrl.headers track by $index" class="column-header">{{ column | translate }}</th>
        </tr>
        <tr ng-if="$ctrl.headers.length == 0">
            <th class="column-header">Encounter</th>
            <th ng-repeat="(key,value) in $ctrl.conceptsMap" class="column-header">{{value.display}}</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="encounter in $ctrl.simpleEncs| orderBy: '-encounterDatetime'">
            <th>{{encounter.encounterDatetime | date: $ctrl.config.dateFormat}}</th>
            <th ng-repeat="(key,value) in $ctrl.conceptsMap">
                {{ encounter.obs[key] ? $ctrl.displayObs(encounter.obs[key]) : '' }}
            </th>
        </tr>
    </tbody>
</table>
<p ng-if="$ctrl.simpleEncs.length == 0">None</p>
