<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.4">

	<!-- Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>OpenMRS Developers</author>
	<description>
		${project.parent.description}
	</description>
	<updateURL>https://dev.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
	<require_version>1.9.3</require_version>
	<!-- / Module Properties -->

	
	<!-- Required Modules -->
	<require_modules>
																											
		<require_module version="${appframeworkVersion}">
			org.openmrs.module.appframework
		</require_module>

        <require_module version="${uiframeworkVersion}">
            org.openmrs.module.uiframework
        </require_module>

        <require_module version="${emrapiVersion}">
            org.openmrs.module.emrapi
        </require_module>

        <require_module version="${appuiVersion}">
            org.openmrs.module.appui
        </require_module>

        <require_module version="${idgenVersion}">
            org.openmrs.module.idgen
        </require_module>
			
	</require_modules>
	<!-- / Required Modules -->

    <aware_of_modules>
        <aware_of_module version="${addresshierarchyVersion}">
            org.openmrs.module.addresshierarchy
        </aware_of_module>
    </aware_of_modules>

	<!-- Module Activator -->
	<activator>${project.parent.groupId}.${project.parent.artifactId}.CoreAppsActivator</activator>
	
	
	<!-- Maps hibernate file's, if present -->
	<mappingFiles>
				
	</mappingFiles>

	<!-- Internationalization -->
	<!-- All message codes should start with ${project.parent.artifactId}. -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<!-- /Internationalization -->

</module>

