<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//OpenMRS//DTD OpenMRS Config 1.0//EN"
        "http://resources.openmrs.org/doctype/config-1.4.dtd">

<module configVersion="1.4">

	<!-- Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>OpenMRS Developers</author>
	<description>
		${project.parent.description}
	</description>
	<updateURL>https://dev.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
	<require_version>1.9.3</require_version>
	<!-- / Module Properties -->

	
	<!-- Required Modules -->
	<require_modules>
																											
		<require_module version="${appframeworkVersion}">
			org.openmrs.module.appframework
		</require_module>

        <require_module version="${uiframeworkVersion}">
            org.openmrs.module.uiframework
        </require_module>

        <require_module version="${emrapiVersion}">
            org.openmrs.module.emrapi
        </require_module>

        <require_module version="${appuiVersion}">
            org.openmrs.module.appui
        </require_module>

        <require_module version="${idgenVersion}">
            org.openmrs.module.idgen
        </require_module>

        <require_module version="${webservicesRestVersion}">
            org.openmrs.module.webservices.rest
        </require_module>

        <require_module version="${reportingVersion}">
            org.openmrs.module.reporting
        </require_module>

    </require_modules>
	<!-- / Required Modules -->

    <aware_of_modules>
        <aware_of_module version="${addresshierarchyVersion}">
            org.openmrs.module.addresshierarchy
        </aware_of_module>
        <aware_of_module version="${htmlformentryVersion}">
            org.openmrs.module.htmlformentry
        </aware_of_module>
    </aware_of_modules>

	<!-- Module Activator -->
	<activator>${project.parent.groupId}.${project.parent.artifactId}.CoreAppsActivator</activator>
	
	
	<!-- Maps hibernate file's, if present -->
	<mappingFiles>
				
	</mappingFiles>

	<!-- Internationalization -->
	<!-- All message codes should start with ${project.parent.artifactId}. -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
    <messages>
        <lang>fr</lang>
        <file>messages_fr.properties</file>
    </messages>
    <messages>
        <lang>ht</lang>
        <file>messages_ht.properties</file>
    </messages>
    <!-- /Internationalization -->

    <!-- Global Properties -->
    <globalProperty>
        <property>coreapps.defaultPatientIdentifierLocation</property>
        <defaultValue></defaultValue>
        <description>
            When adding a new patient identifier via the patient dashboard, the location to use if not specified (and the identifier type requires a location)
        </description>
    </globalProperty>

	<globalProperty>
		<property>coreapps.recentDiagnosisPeriodInDays</property>
		<defaultValue></defaultValue>
		<description>
			Number of days to consider diagnosis as recent
		</description>
	</globalProperty>

    <globalProperty>
        <property>coreapps.defaultDashboard</property>
        <defaultValue></defaultValue>
        <description>
            If set to "visits", then the old visits dashboard will be used instead of the new clinician-facing dashboard
        </description>
    </globalProperty>

    <privilege>
        <name>Task: coreapps.endVisit</name>
        <description>Able to end a visit</description>
    </privilege>

	<privilege>
		<name>Task: coreapps.createVisit</name>
		<description>Able to create a visit</description>
	</privilege>

	<privilege>
		<name>Task: coreapps.createRetrospectiveVisit</name>
		<description>Able to create a retrospective visit</description>
	</privilege>

	<privilege>
		<name>Task: coreapps.mergeVisits</name>
		<description>Able to merge visits</description>
	</privilege>

	<privilege>
		<name>App: coreapps.findPatient</name>
		<description>Able to access the find patient app</description>
	</privilege>

    <privilege>
        <name>App: coreapps.patientDashboard</name>
        <description>Able to access the patient dashboard</description>
    </privilege>

    <privilege>
        <name>App: coreapps.patientVisits</name>
        <description>Able to access the patient visits screen</description>
    </privilege>

    <privilege>
        <name>App: coreapps.findPatient</name>
        <description>Able to access the find patient app</description>
    </privilege>

	<privilege>
		<name>App: coreapps.activeVisits</name>
		<description>Able to access the active visits app</description>
	</privilege>



</module>

