<div ng-if="ctrl.dataViolations.length != 0">
    <ul>
        <li ng-repeat="dataViolation in ctrl.dataViolations">
            {{dataViolation.rule.ruleName}}
            <div class="tag" ng-if="dataViolation.actionUrl">
                <a style="color: white" href="/openmrs/{{dataViolation.actionUrl}}">
                    <strong>
                        Fix
                    </strong>
                </a>
            </div>
        </li>
    </ul>
</div>
<div ng-if="ctrl.dataViolations.length == 0">
    None
</div>