<!-- TODO: **localize all** -->

<ul style="font-size: 0.8em" ng-if="!ctrl.patientProgram">
    <!-- TODO add location and date -->
    <li>
        Enrollment Date:
        <!-- TODO make uib-datepicker-popup format configurable -->
        <input type="text" uib-datepicker-popup="{{ctrl.dateFormat}}" datepicker-options="ctrl.datePopup.enrollment.options" ng-model="ctrl.input.dateEnrolled"
               is-open="ctrl.datePopup.enrollment.opened" close-text="Close" />
        <i class="icon-calendar" ng-click="ctrl.toggleDatePopup.enrollment()"/>
    </li>
    <li>
        Enrollment Location:
        <button ng-click="ctrl.enroll()">Enroll</button>
    </li>
</ul>

<ul style="font-size: 0.8em" ng-if="ctrl.patientProgram">
    <li>Enrolled since {{ ctrl.patientProgram.dateEnrolled | date:ctrl.dateFormat }} at {{ ctrl.patientProgram.location.display }} <i ng-if="!ctrl.edit.enrollment" ng-click="ctrl.toggleEdit.enrollment()" class="icon-pencil right"/> </li>

    <li ng-if="ctrl.edit.enrollment"><input type="text" uib-datepicker-popup="{{ctrl.dateFormat}}" datepicker-options="ctrl.datePopup.enrollment.options" ng-model="ctrl.input.dateEnrolled"
           is-open="ctrl.datePopup.enrollment.opened" close-text="Close" />
        <i class="icon-calendar" ng-click="ctrl.toggleDatePopup.enrollment()"/>
        <icon class="icon-check" ng-click="ctrl.updatePatientProgram()"/>
        <icon class="icon-remove"  ng-click="ctrl.toggleEdit.enrollment()" />
    </li>

    <li ng-if="ctrl.program.allWorkflows.length != 0" ng-repeat="workflow in ctrl.program.allWorkflows track by $index">
           <b>{{ workflow.concept.display }}</b>:
        <span>
            {{ ctrl.getMostRecentStateForWorkflow(workflow.uuid).state.concept.display }}
        </span>
        <span ng-if="ctrl.edit.workflow[workflow.uuid]">
            Transition to:
            <select ng-model="ctrl.input.changeToStateByWorkflow[workflow.uuid].state"
                    ng-options="state.uuid as state.concept.display for state in ctrl.statesByWorkflow[workflow.uuid] | filter: ctrl.isNotCurrentState(workflow) ">
                 <option value=""></option>
            </select>

            <input type="text" uib-datepicker-popup="{{ctrl.dateFormat}}" datepicker-options="ctrl.datePopup.workflow[workflow.uuid].options" ng-model="ctrl.input.changeToStateByWorkflow[workflow.uuid].date"
                   is-open="ctrl.datePopup.workflow[workflow.uuid].opened" close-text="Close" />
            <i class="icon-calendar" ng-click="ctrl.toggleDatePopup.workflow(workflow.uuid)"/>

            <icon class="icon-check" ng-click="ctrl.updatePatientState(workflow.uuid)"/>
            <icon class="icon-remove"  ng-click="ctrl.toggleEdit.workflow(workflow.uuid)" />
        </span>
        <span ng-if="!ctrl.edit.workflow[workflow.uuid]">
            <i ng-click="ctrl.toggleEdit.workflow(workflow.uuid)" class="icon-pencil right"/>
        </span>
    </li>
</ul>

<div ng-if="ctrl.hasHistory()">
    <span style="font-size: 0.8em">History:</span>

    <table style="font-size: 0.6em">  <!-- TODO pull out into style sheet -->
        <tr>
            <th>Date</th>
            <th ng-repeat="workflow in ctrl.program.allWorkflows">
                {{ workflow.concept.display }}
            </th>
            <th>&nbsp;</th>
        </tr>
        <tr ng-repeat="row in ctrl.patientStateHistory">
            <td>{{ row.startDate | date:ctrl.dateFormat }} </td>
                <td ng-repeat="workflow in ctrl.program.allWorkflows">
                    {{ row.patientStatesByWorkflow[workflow.uuid].state.concept.display }}
                </td>
            <td>
                <i ng-if="$first" class="icon-remove right" ng-click="ctrl.deleteMostRecentPatientStates()"/>
            </td>
        </tr>
    </table>
</div>